/*Primary-Colors*/
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan: hsl(168, 34%, 41%);
$light-cyan: hsl(166.88deg 47.76% 73.73%);

/*Neutral*/
$dark-desaturated-blue: hsl(212, 27%, 19%);
$dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$Barlow: 'Barlow', sans-serif;
$Fraunces: 'Fraunces', serif;


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: $Barlow;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0;
  }


/*Header*/ 
.heroSection {
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        font-family: $Barlow;
        color: $white;
        font-size: 16px;

        ul {
            display: flex;
            align-items: center;
            gap: 1.3rem;
        }

        li {
            padding: 0.3rem;
        }

        #cta {
            background-color: $white;
            color: $dark-desaturated-blue;
            border-radius: 4rem;
            text-transform: uppercase;
            font-family: $Fraunces;
            padding: 15px;
        }
    }

    h1 {
        font-family: $Fraunces;
        text-transform: uppercase;
        font-size: 50px;
        padding: 60px 0 90px 0;
        letter-spacing: 0.5rem;
        color: $white;
    }
}

/*Highlights*/

.highlightsSection {
    display: flex;
    flex-wrap: wrap;

    .fullArticle {
        width: 100%;
        display: flex;
        height: 85vh;

        .highlightInfo {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 9em;

            h2 {
                font-family: $Fraunces;
                font-size: 40px;
            }

            .learnMoreLink {
                text-transform: uppercase;
                font-family: $Fraunces;
                font-weight: 900;
                font-size: 0.9rem;
            }
        }
    }

    .halfArticle {
        width: 50%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            padding: 0 9rem 3rem 9rem;

        }

        h3 {
            font-family: $Fraunces;
            font-size: 26px;
        }
    }

    #transformDiv {
        background-image: url(images/desktop/image-transform.jpg);
        width: 50%;
        background-size: cover;
    }

    #standOutDiv {
        background-image: url(images/desktop/image-stand-out.jpg);
        width: 50%;
        background-size: cover;
    }

    #graphicDesignDiv {
        background-image: url(images/desktop/image-graphic-design.jpg);

        background-size: cover;
    }

    #photographyDiv {
        background-image: url(images/desktop/image-photography.jpg);
        background-size: cover;
    }

}

/*Client Testimonials*/

.testimonialsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 9rem;

    h2 {
        font-family: $Fraunces;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 20px;
        color: $grayish-blue;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 30px;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;

            img {
                max-width: 70px;
                border-radius: 100%;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.3rem;

                h4 {
                    font-family: $Fraunces;
                }

                p {
                    font-size: 0.9rem;
                    color: $grayish-blue;
                }
            }
        }
    }
}

/*Gallery Row*/

.galleryRow {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    // display: flex;
    height: 70vh;

    div {
        width: 100%;
    }

    #image01 {
        background-image: url(images/desktop/image-gallery-milkbottles.jpg);
        background-size: cover;
    }
    #image02 {
        background-image: url(images/desktop/image-gallery-orange.jpg);
        background-size: cover;
    }
    #image03 {
        background-image: url(images/desktop/image-gallery-cone.jpg);
        background-size: cover;
    }
    #image04 {
        background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
        background-size: cover;
    }
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: $light-cyan;
    color: $dark-cyan;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2.5rem 0;

    img {
        color: $dark-cyan;
        margin-bottom: 30px;
    }

    nav ul {
        display: flex;
        gap: 40px;
        margin-bottom: 4rem;
    }

    .socialMediaIcons {
        display: flex;
        gap: 20px;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        padding: 20px 0 0 0;
    }
}