@import url(animations.css);

/*Primary-Colors*/
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan: hsl(168, 34%, 41%);
$light-cyan: hsl(166.88deg 47.76% 73.73%);

/*Neutral*/
$dark-desaturated-blue: hsl(212, 27%, 19%);
$dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$Barlow: 'Barlow', sans-serif;
$Fraunces: 'Fraunces', serif;


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: $Barlow;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0;
  }


/*Header*/ 
.heroSection {
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bouncingArrow {
        animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        font-family: $Barlow;
        color: $white;
        font-size: 16px;

        .burgerNav {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 1.3rem;
        }

        li {
            padding: 0.3rem;
        }

        #cta a {
            background-color: $white;
            color: $dark-desaturated-blue;
            border-radius: 4rem;
            text-transform: uppercase;
            font-family: $Fraunces;
            padding: 15px 20px;
            transition: all 0.2s ease;

            &:hover {
                color: $white;
                background-color:  rgba(255, 255, 255, 0.3);
            }
        }
    }

    h1 {
        font-family: $Fraunces;
        text-transform: uppercase;
        font-size: 50px;
        padding: 60px 0 90px 0;
        letter-spacing: 0.5rem;
        color: $white;
    }
}

/*Highlights*/

.highlightsSection {
    display: flex;
    flex-wrap: wrap;

    .fullArticle {
        width: 100%;
        display: flex;
        height: 85vh;

        .highlightInfo {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 9em;

            h2 {
                font-family: $Fraunces;
                font-size: 40px;
            }

            .learnMoreLink {
                text-transform: uppercase;
                font-family: $Fraunces;
                font-weight: 900;
                font-size: 0.9rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    padding: 0;
                    left: -8px;
                    width: 30%;
                    height: 9px;
                    border-radius: 3em;
                    background-color: aqua;
                    transform: scaleX(0);
                    transform-origin: left center;
                    transition: all 0.3 ease-in-out;
                }
            }

            .yellowHover:hover::before {
                background-color: $yellow;
                animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

            .redHover:hover::before {
                background-color: $soft-red;
                animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }

    .halfArticle {
        width: 50%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            padding: 0 9rem 3rem 9rem;

        }

        h3 {
            font-family: $Fraunces;
            font-size: 26px;
        }
    }

    #transformDiv {
        background-image: url(../images/desktop/image-transform.jpg);
        width: 50%;
        background-size: cover;
    }

    #standOutDiv {
        background-image: url(../images/desktop/image-stand-out.jpg);
        width: 50%;
        background-size: cover;
    }

    #graphicDesignDiv {
        background-image: url(../images/desktop/image-graphic-design.jpg);

        background-size: cover;
    }

    #photographyDiv {
        background-image: url(../images/desktop/image-photography.jpg);
        background-size: cover;
    }

}

/*Client Testimonials*/

.testimonialsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 9rem;

    h2 {
        font-family: $Fraunces;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 20px;
        color: $grayish-blue;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 30px;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;

            img {
                max-width: 70px;
                border-radius: 100%;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.3rem;

                h4 {
                    font-family: $Fraunces;
                }

                p {
                    font-size: 0.9rem;
                    color: $grayish-blue;
                }
            }
        }
    }
}

/*Gallery Row*/

.galleryRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 70vh;

    div {
        width: 100%;
    }

    #image01 {
        background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
        background-size: cover;
    }
    #image02 {
        background-image: url(../images/desktop/image-gallery-orange.jpg);
        background-size: cover;
    }
    #image03 {
        background-image: url(../images/desktop/image-gallery-cone.jpg);
        background-size: cover;
    }
    #image04 {
        background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
        background-size: cover;
    }
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: $light-cyan;
    color: $dark-cyan;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2.5rem 0;

    img {
        color: $dark-cyan;
        margin-bottom: 30px;
    }

    nav ul {
        display: flex;
        gap: 40px;
        margin-bottom: 4rem;
    }

    .socialMediaIcons {
        display: flex;
        gap: 20px;
    }

    a:hover {
        color: $white;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        padding: 20px 0 0 0;

        a {
            text-decoration: underline;
        }
    }
}

@media (max-width: 600px) {

    .heroSection {
        header {
            .burgerNav {
                cursor: pointer;
                display: flex;
                font-size: 1.5rem;

                span {
                    display: none;
                }
            }
        }

        nav ul {
            color: black;
            background-color: $white;
            flex-direction: column;
            position: absolute;
            left: 0;
            right: 0;
            top: 5rem;
            width: 85%;
            transform: translateX(-130%);
            margin: 0 auto;
            padding: 3rem;
            font-size: 18px;

            li {
                margin-top: 0.5rem;
            }

            #cta a {
                background-color: $yellow;

                &:hover {
                    background-color: $light-cyan;
                    color: $dark-blue;
                }
            }
        }

        .open {
            transform: translateX(0)!important;
            
        }

        h1 {
            text-align: center;
        }

    }

    .testimonialsSection {
        padding: 3rem;
        gap: 2rem;

        div {
            flex-direction: column;
            gap: 50px;
        
            article {
                gap: 20px;
            }
        }
    }


    .galleryRow {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);

        #image01 {
            background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
        }
        #image02 {
            background-image: url(../images/mobile/image-gallery-orange.jpg);
        }
        #image03 {
            background-image: url(../images/mobile/image-gallery-cone.jpg);
        }
        #image04 {
            background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
        }
    }
  }